<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>
<div id="gr_grid_widget_1651943383">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <h2>
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/57148508-bishnu?shelf=read&utm_medium=api&utm_source=grid_widget"></a>
</h2>
<div class="gr_grid_container">
<div class="gr_grid_book_container"><a title="The Burning God (The Poppy War, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/45857086-the-burning-god"><img alt="The Burning God" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1584965579l/45857086._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Dragon Republic (The Poppy War, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/41118857-the-dragon-republic"><img alt="The Dragon Republic" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1539963703l/41118857._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Poppy War (The Poppy War, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/35068705-the-poppy-war"><img alt="The Poppy War" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1515691735l/35068705._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Inspired: How to Create Tech Products Customers Love" rel="nofollow" href="https://www.goodreads.com/book/show/35249663-inspired"><img alt="Inspired: How to Create Tech Products Customers Love" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1496058487l/35249663._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Jonathan Livingston Seagull" rel="nofollow" href="https://www.goodreads.com/book/show/71728.Jonathan_Livingston_Seagull"><img alt="Jonathan Livingston Seagull" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1432222358l/71728._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="All Marketers Are Liars: The Underground Classic That Explains How Marketing Really Works--and Why Authenticity Is the Best Marketing of All" rel="nofollow" href="https://www.goodreads.com/book/show/13099528-all-marketers-are-liars"><img alt="All Marketers Are Liars: The Underground Classic That Explains How Marketing Really Works--and Why Authenticity Is the Best Marketing of All" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348332473l/13099528._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Fault in Our Stars" rel="nofollow" href="https://www.goodreads.com/book/show/11870085-the-fault-in-our-stars"><img alt="The Fault in Our Stars" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1632632557l/11870085._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Oath of the Vayuputras (Shiva Trilogy, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/12820793-the-oath-of-the-vayuputras"><img alt="The Oath of the Vayuputras" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1357242702l/12820793._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Immortals of Meluha (Shiva Trilogy #1)" rel="nofollow" href="https://www.goodreads.com/book/show/12037785-the-immortals-of-meluha"><img alt="The Immortals of Meluha" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334659249l/12037785._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="The Secret Of The Nagas" rel="nofollow" href="https://www.goodreads.com/book/show/15814939-the-secret-of-the-nagas"><img alt="The Secret Of The Nagas" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1417319174l/15814939._SX98_.jpg" /></a></div>
<div class="gr_grid_book_container"><a title="Zero to One: Notes on Start Ups, or How to Build the Future" rel="nofollow" href="https://www.goodreads.com/book/show/18070752-zero-to-one"><img alt="Zero to One: Notes on Start Ups, or How to Build the Future" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1420843434l/18070752._SX98_.jpg" /></a></div>
<br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/57148508-bishnu">Bishnu's favorite books »</a>
<noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Bishnu, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/grid_widget/57148508.?cover_size=medium&hide_link=&hide_title=&num_books=20&order=d&shelf=read&sort=date_added&widget_id=1651943383" type="text/javascript" charset="utf-8"></script>
