      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1683527147 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
  }
  .gr_custom_header_1683527147 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
  }
  .gr_custom_each_container_1683527147 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1683527147 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1683527147 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1683527147 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1683527147 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1683527147">
          <div class="gr_custom_container_1683527147">
    <h2 class="gr_custom_header_1683527147">
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/57148508-bishnu?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Bishnu is currently reading</a>
    </h2>
      <div class="gr_custom_each_container_1683527147">
          <div class="gr_custom_book_container_1683527147">
            <a title="Start with Why: How Great Leaders Inspire Everyone to Take Action" rel="nofollow" href="https://www.goodreads.com/review/show/5537132610?utm_medium=api&amp;utm_source=custom_widget"><img alt="Start with Why: How Great Leaders Inspire Everyone to Take Action" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360936414l/7108725._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1683527147">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1683527147">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/5537132610?utm_medium=api&amp;utm_source=custom_widget">Start with Why: How Great Leaders Inspire Everyone to Take Action</a>
          </div>
          <div class="gr_custom_author_1683527147">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/3158574.Simon_Sinek">Simon Sinek</a>
          </div>
          <div class="gr_custom_tags_1683527147">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1683527147">
          <div class="gr_custom_book_container_1683527147">
            <a title="Ikigai: The Japanese Secret to a Long and Happy Life / The Little Book of Lykke / Lagom: The Swedish Art of Balanced Living" rel="nofollow" href="https://www.goodreads.com/review/show/3775225834?utm_medium=api&amp;utm_source=custom_widget"><img alt="Ikigai: The Japanese Secret to a Long and Happy Life / The Little Book of Lykke / Lagom: The Swedish Art of Balanced Living" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1636345522l/40534545._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1683527147">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1683527147">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/3775225834?utm_medium=api&amp;utm_source=custom_widget">Ikigai: The Japanese Secret to a Long and Happy Life / The Little Book of Lykke / Lagom: The Swedish Art of Balanced Living</a>
          </div>
          <div class="gr_custom_author_1683527147">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/7033810.Hector_Garcia_Puigcerver">Hector Garcia Puigcerver</a>
          </div>
          <div class="gr_custom_tags_1683527147">
            tagged:
            currently-reading
          </div>
      </div>
      <div class="gr_custom_each_container_1683527147">
          <div class="gr_custom_book_container_1683527147">
            <a title="The Laws of the Spirit World" rel="nofollow" href="https://www.goodreads.com/review/show/1967657388?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Laws of the Spirit World" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1337178589l/8068001._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_1683527147">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_1683527147">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/1967657388?utm_medium=api&amp;utm_source=custom_widget">The Laws of the Spirit World</a>
          </div>
          <div class="gr_custom_author_1683527147">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/30080073.Bhavnagi_Khorshed">Bhavnagi Khorshed</a>
          </div>
          <div class="gr_custom_tags_1683527147">
            tagged:
            currently-reading
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Bishnu, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/57148508.Bishnu%20is%20currently%20reading?cover_position=left&cover_size=small&num_books=3&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1683527147&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>