/* use this css to override default set by bootstrap and mediumish theme */
.image-caption {
  font-size: 75%;
  padding-top: 0px;
  opacity: 0.8;
}
/*dark mode*/
.dark {
  background-color: #1a1d24;
  color: #efefef;
}
.dark .article-post {
  color: #efefef;
}
.d-none {
  display: none;
}
.w-initial-md {
  width: initial;
}
.theme-selector {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #fff;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.language-javascript.highlighter-rouge::before {
  content: "JavaScript";
  float: right;
  margin-top: -1.5em; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
  font-size: 0.8em; /* Adjust as needed */
  color: #4ec186; /* Adjust color as needed */
}
:root {
  --highlight-color: #ffb7b7;
}
/* use this css to override default selection color */
::selection {
  background:  var(--highlight-color); /* WebKit/Blink Browsers */
 
}
::-moz-selection {
  background: var(--highlight-color); /* Gecko Browsers */
}
